<div class="container">
  <h1><%= @restaurant.name %></h1>
  <div class="buttons">
    <%= link_to restaurants_path do %>
      <i class="fa fa-home fa-2x"></i>
    <% end %>
    <%= link_to @restaurant, method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fa fa-trash fa-2x"></i>
    <% end %>
    <%= link_to restaurants_path do %>
      <i class="fa fa-home fa-2x"></i>
    <% end %>
    <%= link_to new_restaurant_review_path(@restaurant) do %>
      <i class="fa fa-plus fa-2x"></i>
    <% end %>

  </div>
  <hr>

  <ul class="list-group">

      <li class="list-group-item">
        <span class="list-label">Adresse:</span> <strong> <%= @restaurant.address %></strong>
      </li>
      <li class="list-group-item">
        <span class="list-label">Téléphone: </span><strong><%= @restaurant.phone_number %></strong>
      </li>
      <li class="list-group-item">
        <span class="list-label">Catégorie:</span> <strong><%= @restaurant.category %></strong>
      </li>

  </ul>

</div>

